#sliderFrame,#sliderFrame div{box-sizing:content-box;}
#sliderFrame{position:relative;width:900px;margin:0 auto;}
#slider,#slider div.sliderInner{width:900px;height:300px;border-radius:0px;}
#slider{background:#fff url(loading.gif) no-repeat 50% 50%;position:relative;transform:translate3d(0,0,0);box-shadow:0 1px 5px #000;}
#slider a.imgLink,#slider .video{z-index:2;cursor:pointer;position:absolute;top:0;left:0;border:0;width:100%;height:100%;margin:0;padding:0;}
#slider div.mc-caption-bg,#slider div.mc-caption-bg2{position:absolute;width:440px;height:auto;right:0px;top:50px;z-index:1;overflow:hidden;font-size:0;padding:10px 0;}
#slider div.mc-caption-bg{background:#FFF;border:1px solid #FFF;border-radius:5px;}
#slider div.mc-caption-bg2{background:none;}
#slider div.mc-caption{font:bold 15px Arial;color:#000;z-index:1;text-align:center;background:none;}
#slider div.mc-caption a{color:#FB0;}
#slider div.mc-caption a:hover{color:#DA0;}
#slider div.navBulletsWrapper{top:328px;text-align:center;background:none;font-size:0;position:relative;z-index:5;}
#slider div.navBulletsWrapper div{width:9px;height:9px;border:1px solid #AAA;background:#EEE;color:#AAA;font-size:0;text-align:center;display:inline;zoom:1;overflow:hidden;cursor:pointer;border-radius:50%;box-shadow:inset 0 0 4px #AAA;margin:0 9px;}
#slider div.navBulletsWrapper div.active{background:#259FDC;color:#FFF;border-color:#3E99C6;}
#slider div.loading{width:100%;height:100%;background:transparent url(loading.gif) no-repeat 50% 50%;filter:alpha(opacity=60);opacity:0.6;position:absolute;left:0;top:0;z-index:9;}
#slider img,#slider>b,#slider a>b{position:absolute;border:none;display:none;}
#slider div.sliderInner{overflow:hidden;-webkit-transform:rotate(0.000001deg);position:absolute;top:0;left:0;}
#slider>a,#slider video,#slider audio{display:none;}
#slider div{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}