img.login-logo{height:80px;padding-bottom:10px;width:166px;}
input,textarea{font-family:open-sans, Arial, "Arial Unicode MS", sans-serif;}
#background{height:100%;left:0;position:absolute;top:0;width:100%;z-index:-10;}
#login-page-links a{color:#4ba8dc;text-decoration:none;}
#login-footer{color:#777;font-size:10px;margin-left:auto;margin-right:auto;max-width:680px;padding: 20px;text-align:center;}
#login-content a,#reset-password-content a{text-decoration:underline;}
#login-page-links a:active,#login-page-links a:hover{color:##34495e;text-decoration:underline;}
.login-background{background-color:#CCC;margin-left:auto;margin-right:auto;max-width:680px;overflow:auto;text-align:center;}
.login-form-field span{color:#9ba3a5;display:inline;left:5px;position:absolute;top:2px;z-index:1;}
.login-label{font-size:25px;}
.login-container{background-color:#FFF;border-radius:10px;box-shadow:5px 5px 5px;float:left;margin:100px auto;padding-top:20px;position:relative;width:500px; margin-left:100px;}
.login-text-area{padding-bottom:12px;}
.login-large-text{color:#5f6668;font-size:18px;}
.login-medium-text{color:#5f6668;font-size:14px;}
.login-button-text{color:#5f6668;font-size:12px;}
.login-small-text{color:#9ba3a5;font-size:12px;}
.new-login-text{-moz-border-radius:4px;-webkit-border-radius:4px;border:1px solid rgba(0,0,0,0.2);border-radius:4px;font-size:12pt;height:38px;margin-top:7px;padding-left:3px; width:400px;}
.form-button{font-size:12px;font-weight:700;padding:6px;}
.form-button-unpadded{font-size:12px;font-weight:700;overflow:visible;padding:6px;}
.form-button-padded-more{font-size:12px;font-weight:700;padding:6px 18px;}
.form-button-large-text{font-size:16px;font-weight:700;overflow:visible;padding:6px;}
.loginButton{background-color:#2980b9;border:none;border-radius:7px;box-shadow:1px 1px 1px;font-size:12pt; margin:10px;padding:2px 19px 3px;}
.check-box-input input{margin-top:-1px;}
.grad{background:linear-gradient(#CCC,#2980b9);height:100%;width:100%;}