body { font-size:14px; }
input {  }
table { margin-top:15px; }

.container { width:100%; margin:0px;  }
.background-pdf { filter:blur(5px);}
.popup { position:absolute; top:40%; left:45%; width:300px; background:#FFF; border: 1px solid #CCC; border-radius:5px; box-shadow:3px 3px 3px #777; padding:10px; }
.popup img { width:50px; }
.popup-header { background:#CCC; padding:2px; border-radius:3px; }
.headline { font-size:20px; font-weight:bold; color:#666; padding-left:15px; }
.login-form { margin-top:15px;  }
.login-header { font-size:20px; font-weight:bold; color:#666; }
.tagline { font-size:12px; }
.button { background:#0099CC; color:#FFF; border:none; border-radius:2px; box-shadow:2px 2px 2px #666; height:25px; }
.copyright { font-size:12px; text-align:center; }
.box { padding-left:25px; }